:root {
    --color-general: #5C396E;
    --color-detalles: #FF763B;
    --color-blanco: white;
}

@font-face {
    font-family: 'pressStart';
    src: url('/multimedia/tipografias/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'montserrat-general';
    src: url('/multimedia/tipografias/Montserrat-Regular.ttf');
}

body {
    background-color: var(--color-general);
}
.GridHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140% 1fr 1fr;
}
nav {
    margin-top: 3%;
    font-size: 150%;
    font-family:"montserrat-general";
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
}

nav li {
    padding: 5%;
    list-style-type: none;
    display:inline;
    color: var(--color-detalles);
}


.textinicio {
    grid-row: 2/3;
    grid-column:2/3;
    color:var(--color-detalles);
}

.dino1{
    width: 40%;
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 15%;
}

.dino2{
    width: 40%;
    grid-row: 2/3;
    grid-column: 3/4;
    padding:15%;
}

h1 {
    font-size: 450%;
    font-family: "pressStart";
}

h2{
    font-size:120%;
    font-family:"montserrat-general";
    text-align: center;
}



